<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Friday Flick</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<h1> Make your movie selection</h1>
<p>Make your movie selection here, choose your genre and solve your Friday night problem</p>
<form action="/movies.json" method="get">
<select name="movie selection">
	<option  value="movies/{{action}}" class="value">Action</a>
	<option a href="movies/{{comedy}}" class="value">Comedy</a>
	<option a href="movies/{{rom-com}}" class="value">Romantic comedy</a>
</select>
</form>
<button type="Make Your Submission"</button>

</body>
</html>

<!-- <select name="forma">
    <option value="Home"><a href="home.php">Home</a></option>
    <option value="Contact"><a href="contact.php">Contact</a></option>
    <option value="Sitemap"><a href="sitemap.php">Sitemap</a></option>
</select> -->
